Checks: '*,
-altera*,
-llvmlibc-callee-namespace,
-llvmlibc-restrict-system-libc-headers,
-llvmlibc-implementation-in-namespace,
-llvm-include-order,
-fuchsia-default-arguments-calls,
-readability-identifier-length,
-readability-magic-numbers,
-readability-suspicious-call-argument,
-readability-implicit-bool-conversion,
-bugprone-easily-swappable-parameters,
-bugprone-narrowing-conversions,
-hicpp-avoid-c-arrays,
-hicpp-vararg,
-hicpp-special-member-functions,
-google-readability-todo,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-narrowing-conversions,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-special-member-functions,
-readability-uppercase-literal-suffix,
-hicpp-uppercase-literal-suffix,
-modernize-use-trailing-return-type,
-modernize-pass-by-value,
-modernize-use-nodiscard'
HeaderFilterRegex: '^((?!plugin.hpp|plugin.cpp).)*$'